/*
stylus -w main.styl -o ../css/.  
*/
@font-face {
  font-family: 'CenturySchoolbookRegular';
  src: url("../fnt/censcbk.eot");
  src: url("../fnt/censcbk.eot?#iefix") format('embedded-opentype'), url("../fnt/censcbk.woff") format('woff'), url("../fnt/censcbk.ttf") format('truetype'), url("../fnt/censcbk.svg#CenturySchoolbookRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturySchoolbookBold';
  src: url("../fnt/schlbkb.eot");
  src: url("../fnt/schlbkb.eot?#iefix") format('embedded-opentype'), url("../fnt/schlbkb.woff") format('woff'), url("../fnt/schlbkb.ttf") format('truetype'), url("../fnt/schlbkb.svg#CenturySchoolbookBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturySchoolbookBoldItalic';
  src: url("../fnt/schlbkbi.eot");
  src: url("../fnt/schlbkbi.eot?#iefix") format('embedded-opentype'), url("../fnt/schlbkbi.woff") format('woff'), url("../fnt/schlbkbi.ttf") format('truetype'), url("schlbkbi.svg#CenturySchoolbookBoldItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturySchoolbookItalic';
  src: url("../fnt/schlbki.eot");
  src: url("../fnt/schlbki.eot?#iefix") format('embedded-opentype'), url("../fnt/schlbki.woff") format('woff'), url("../fnt/schlbki.ttf") format('truetype'), url("../fnt/schlbki.svg#CenturySchoolbookItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f4e9d8;
  font-family: CenturySchoolbookBold;
  font-weight: bold;
  color: #092e6e;
  font-size: 16pt;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.dots {
  width: 7em;
}
.dots.left {
  float: left;
}
.dots.right {
  float: right;
}
.dots > .dot {
  display: inline-block;
  width: 0.2em;
  height: 0.2em;
  background-color: #092e6e;
  line-height: 1.5em;
  margin: 0 0.2em;
}
.container {
  width: 45em;
  margin: auto;
}
.container > .header {
  padding: 3em 0 0 0;
}
.container > .header > .truck {
  float: left;
  background-image: url("../img/truck.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24em;
  height: 11em;
}
.container > .header > .logo {
  float: right;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 17em;
  height: 10em;
  margin: -1em 3em 0 0;
}
.container > .body {
  background-image: url("../img/purty_wood.png");
  margin-top: -2em;
  padding: 3em 0;
  min-height: 30em;
}
.container > .body > .title {
  text-align: center;
  font-size: 1.2em;
  width: 36em;
  margin: auto;
}
.container > .body > .title > .copy {
  width: 17em;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  white-space: nowrap;
}
.container > .body > .copy {
  font-size: 1.2em;
  margin: 1em auto;
  width: 33em;
}
.container > .body > ul.list {
  margin: 0 0 2em 9em;
}
.container > .body > ul.list > li {
  float: left;
  width: 16em;
  padding: 0.2em 0;
}
.container > .body > .schedule {
  background-color: #f4e9d8;
  width: 40em;
  margin: auto;
  padding: 1em 0;
  margin: 1em auto;
  border: 0.1em solid #9a5107;
  box-shadow: 0.2em 0.2em 1em rgba(0,0,0,0.5);
}
.container > .body > .schedule > .title {
  color: #9a5107;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
.container > .body > .schedule > .subtitle {
  color: #9a5107;
  width: 36em;
  margin: auto;
}
.container > .body > .schedule > .subtitle > .copy {
  font-size: 1.3em;
  width: 11em;
  margin: auto;
}
.container > .body > .schedule > .subtitle > .dots > .dot {
  background-color: #9a5107;
}
.container > .body > .schedule > .seeall {
  float: left;
  width: 19em;
  height: 2em;
  font-size: 0.8em;
  margin: 1em 0 0.2em 6em;
}
.container > .body > .schedule > .seeall > .paw {
  background-image: url("../img/paw.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  float: left;
  margin: 0.5em;
}
.container > .body > .schedule > .seeall > .copy {
  float: left;
  margin: 0.4em 0;
}
.container > .body > .schedule > .map {
  float: left;
  width: 23em;
  height: 12em;
  background-image: url("../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.container > .body > .schedule > .events {
  float: right;
  width: 16em;
  height: 10em;
  margin: -2.5em 0 0 0;
}
.container > .body > .schedule > .events > .location {
  padding: 0.3em 0;
  text-transform: uppercase;
}
.container > .body > .schedule > .events > .event {
  font-size: 0.7em;
  cursor: pointer;
  padding: 0.2em 0.3em;
  transition: background-color 0.1s linear, color 0.1s linear;
}
.container > .body > .schedule > .events > .event:hover {
  background-color: #092e6e;
  color: #f4e9d8;
}
.container > .body > .schedule > .events > .event > span.title {
  font-weight: normal;
  padding-left: 0.5em;
}
.container > .body > .rsvp {
  margin: -1.4em auto 0em auto;
  width: 12em;
  height: 2em;
  font-size: 1.2em;
  border: 0.1em solid #f4e9d8;
}
.container > .body > .rsvp > .reminder {
  background-image: url("../img/reminder.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.2em;
  height: 1em;
  float: left;
  margin: 0.6em 0.6em 0 0.6em;
}
.container > .body > .rsvp > .copy {
  float: left;
  margin: 0.4em 0;
}
.cta {
  background-color: #092e6e;
  color: #f4e9d8;
  cursor: pointer;
  box-shadow: 0.1em 0.2em 0.1em rgba(0,0,0,0.5);
}
