@font-face
  font-family 'CenturySchoolbookRegular'
  src url('../fnt/censcbk.eot')
  src url('../fnt/censcbk.eot?#iefix') format('embedded-opentype'),
       url('../fnt/censcbk.woff') format('woff'),
       url('../fnt/censcbk.ttf') format('truetype'),
       url('../fnt/censcbk.svg#CenturySchoolbookRegular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'CenturySchoolbookBold'
  src url('../fnt/schlbkb.eot')
  src url('../fnt/schlbkb.eot?#iefix') format('embedded-opentype'),
       url('../fnt/schlbkb.woff') format('woff'),
       url('../fnt/schlbkb.ttf') format('truetype'),
       url('../fnt/schlbkb.svg#CenturySchoolbookBold') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'CenturySchoolbookBoldItalic'
  src url('../fnt/schlbkbi.eot')
  src url('../fnt/schlbkbi.eot?#iefix') format('embedded-opentype'),
       url('../fnt/schlbkbi.woff') format('woff'),
       url('../fnt/schlbkbi.ttf') format('truetype'),
       url('schlbkbi.svg#CenturySchoolbookBoldItalic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'CenturySchoolbookItalic'
  src url('../fnt/schlbki.eot')
  src url('../fnt/schlbki.eot?#iefix') format('embedded-opentype'),
       url('../fnt/schlbki.woff') format('woff'),
       url('../fnt/schlbki.ttf') format('truetype'),
       url('../fnt/schlbki.svg#CenturySchoolbookItalic') format('svg')
  font-weight normal
  font-style normal
