body
  font-size 8pt
.dots
  display none


.container
  > .header
    width 100%
    > .truck
      display none
    > .logo
      float none
      width 20em
      height 10em
      margin 2em auto
  > .wood
    border-top 0.5em solid c_brown
    width 100%
    background-color c_beige
    margin 2em auto
    > .title
      width 100%
      text-align center
      > .copy
        width 100%
    > .copy
      width 90%
    > ul.list
      margin 0 0 2em 2em
    > .schedule
      width 98%
      margin auto
      > .title
        font-size 1em
      > .subtitle
        text-align center
        width auto
        > .copy
          width auto
          margin 1em 0
      > .seeall
        float none
        width 90%
        padding 1em
        margin 1em auto
        font-size 1.3em
      > .map
        float none
        width 90%
        height 13em
        margin auto
      > .events
        float none
        width 80%
        margin 1em auto
        border 0.1em solid c_brown
        padding 1em 
        > .event
          font-size 1em
    > .rsvp
      margin -0.5em auto 2em auto
      width 90%
      padding 1em
      font-size 1.3em
      border none
    > .gallery
      > .title
        width 90%
        text-align center
        > .copy
          width auto
      > .description
        width 90%
        font-size 1em
      > .pictures
        width 70%
        margin auto
    > .extras
      width 100%
      > .extra
        float none
        margin 1em auto
    > .rsvp2
      width 90%
      padding 1em 0
      margin 2em auto 4em auto
      > .left
        font-size 0.8em
        width 20em
        margin 0 0 0 1em
  > .recipes
    width 100%
    > .inner > .recipe
      float none
      margin 1em auto
      width auto
      display block
    &.on
      height auto
  > .story
    width 100%
