
.container
  width 100%
  > .header
    width 100%
    padding 1em 0
    > .truck
      display none
    > .logo
      width 22em
      height 8em
      float none
      margin 0em auto 2em auto
      background-image url('../img/logo_mobile.png')
      background-position 50% 50%
      background-size contain
  > .wood
    > .intro
      > .lists
        text-align left
        > ul.list
          display block
          padding 0 0 0 5em
          margin 0
    > .schedule
      > .map
        float none
        width 80%
        margin auto
        height 20em
      > .events
        float none
        width 80%
        margin 1em auto
        padding 0
    > .gallery
      > .pictures
        height 23em
        > .inner
          width 100em
          > .picture
            width 11.1em
            height 9em
            margin 0.5em


    > .rsvp2
      width 90%
      > .left
        font-size 0.8em
        width 50%
        margin 0
      > .right
        font-size 1em

  > .recipes
    &.on
      height auto

  > .story
    width 100%
    &.on
      height auto
    > .topbar
      display none
    > .title
      font-size 1.5em
    > .copy
      font-size 1em
      width 90%
      padding 1em
    > .dog
      display none

.modal
  width 90%
  top 1em
  left 5%
  margin 0
  > .header > .close
    font-size 0.5em

