/*
stylus -w main.styl -o ../css/.  
*/

vendor-prefixes ?= webkit moz o ms official

@import vendor

@import _vars
@import _fonts
@import _mixins
@import _loader

body
  background-color c_beige
  font-family CenturySchoolbookBold
  font-weight bold
  color c_blue
  font-size 12px
  padding 0
  margin 0

sup
  vertical-align super

.clear
  clearfix()

.info
  padding 0.5em
  color c_blue
  font-family CenturySchoolbookBold
  text-align center
  white-space nowrap
  overflow hidden
  > .infocta
    padding 1em 2em
    margin 1em 0 0 0.75em
    background-color c_blue
    color c_beige
    text-align center
    cursor pointer
    font-family CenturySchoolbookBold
    &:hover
      background-color c_lblue

.container
  background-color rgba(white, 0.1)
  margin auto
  width 80em

  > .header
    padding 3em 0 0 0
    margin auto
    > .truck
      float left
      background-image url('../img/truck.png')
      background-size contain
      background-repeat no-repeat
      background-position right
      width 55%
      height 20em
    > .logo
      float right
      background-image url('../img/logo.png')
      background-size contain
      background-repeat no-repeat
      background-position center
      width 45%
      height 18em
  > .wood
    margin -2em auto 0 auto
    background-image url('../img/wood.jpg')
    box-shadow 0.2em 0.2em 1em rgba(black, 0.5)
    padding-top 2em
    > .intro
      margin auto
      background-color c_beige
      border 0.1em solid c_brown
      margin 1em
      padding 1em
      box-shadow 0.2em 0.2em 1em rgba(black, 0.5)

      > .title
        text-align center
        font-size 1.5em

      > .copy
        margin 1em auto
        width 90%
        font-size 1.2em

      // get all 4 bullet points centered on one line
      > .lists
        margin 0 auto
        text-align center

        > ul.list
          font-size 1.2em
          list-style-type square
          display inline-block

          > li
            text-align left
            margin auto
            padding 0.5em 0

    > .schedule
      background-color c_beige
      border 0.1em solid c_brown
      margin auto
      padding 1em
      margin 1em
      box-shadow 0.2em 0.2em 1em rgba(black, 0.5)
      > .title
        color c_brown
        text-align center
        font-size 1.5em
        font-style italic
      > .subtitle
        color c_brown
        font-size 1.3em
        text-align center
      > .map
        float left
        width 63%
        height 30em
        position relative
        border 0.1em solid c_brown
      > .asterisk
        text-align center
        font-size 1.2em
        padding 1em
        > a
          color c_blue
      > .events
        float right
        width 35%
        padding 0 0 0 1em
        font-size 1.2em
        > .toparrow, > .bottomarrow
          width 0
          height 0
          border-style solid
          cursor pointer
        > .toparrow
          border-width 0 2em 2em 2em
          margin 0em auto 0.1em auto
          border-color transparent transparent c_blue transparent
        > .bottomarrow
          width 0
          height 0
          border-style solid
          border-width 2em 2em 0 2em 
          margin 0.1em auto 0em auto
          border-color c_blue transparent transparent transparent
          
        > .inner
          overflow-y scroll
          height 23em
          position relative
          > .location
            padding 0.5em 0
            text-transform uppercase
            text-align center
            background-color c_lblue
            color c_beige
            margin-bottom 0.1em
          > .event
            cursor pointer
            padding 1em 0.3em
            transition background-color 0.1s linear, color 0.1s linear
            background-color c_blue
            color c_beige
            margin-bottom 0.1em
            &:hover
              background-color rgba(c_blue, 0.1)
              color c_blue
            > span.title
              font-weight normal
              padding-left 0.5em
    > .rsvp
      margin -1.4em auto 2em auto
      width 8em
      height 2em
      font-size 1.5em
      border 0.1em solid c_beige
      > .reminder
        background-image url('../img/reminder.png')
        background-size cover
        background-repeat no-repeat
        width 1.2em
        height 1em
        float left
        margin 0.6em 0.6em 0 0.6em
      > .copy
        float left
        margin 0.4em 0
    > .gallery
      padding 2em 0 4em 0
      background-color c_beige
      > .title
        color c_brown
        font-size 1.5em
        text-align center
      > .description
        color c_brown
        font-size 1.2em
        margin 1em auto
        width 80%
        > .hashtag
          color c_blue
      > .pictures
        max-height 29em
        overflow hidden
        > .inner
          width 600%
          transition transform 0.5s ease-in-out
          &.page1
            transform translate(0, 0)
          &.page2
            transform translate(-16.5%, 0)
          &.page3
            transform translate(-33%, 0)
          &.page4
            transform translate(-49.5%, 0)
          &.page5
            transform translate(-66%, 0)
          > .picture
            cursor pointer
            display inline-block
            width 16.6em
            height 11em
            margin 0.5em 1em
            background-color c_beige
            box-shadow 0.1em 0.1em 0.1em rgba(black, 0.5)
            border 0.5em solid white
            > .image
              width 100%
              height 100%
              background-size contain
              background-repeat no-repeat
              background-position 50% 50%
      > .nav
        padding 1em 0 1em 0
        font-size 1.2em
        > div
          cursor pointer
        > .prev
          float left
          margin 0 0 0 0.5em
          > .arrow
            float left
          > .copy
            float left
            margin 0 0 0 0.5em
        > .next
          float right
          margin 0 0.5em 0 0
          > .arrow
            float right
          > .copy
            float left
            margin 0 0.5em 0 0
    > .extras
      text-align center
      > .extra
        width 17em
        height 15em
        display inline-block
        margin 1em 3em
        box-shadow 0.2em 0.2em 0.2em rgba(black, 0.5)
        cursor pointer
        border 0.5em solid white
        position relative
        overflow hidden
        background-size cover
        background-position 50% 50%
        &:hover > .copy
          background-color rgba(white, 0.95)
        &.experience
          background-image url('../img/extra_experience.jpg')
        &.recipes
          background-image url('../img/extra_recipes.jpg')
        &.story
          background-image url('../img/extra_story.jpg')
        > .copy
          position absolute
          background-color rgba(white, 0.5)
          transition background-color 0.2s linear
          color c_brown
          padding 1em 
          text-align center
          font-size 1.2em
          bottom 0
          left 0
          right 0
    > .rsvp2
      background-color c_blue
      border 0.2em solid c_beige
      width 38em
      margin 2em auto
      color c_beige
      padding 1em 1em
      cursor pointer
      > .left
        float left
        font-size 1.2em
        width 18em
      > .right
        float right
        font-size 1.5em
        > .reminder
          background-image url('../img/reminder.png')
          background-size cover
          background-repeat no-repeat
          width 1.8em
          height 1.5em
          display inline-block
          margin-right 0.5em
        > .copy
          display inline-block
          width 6em
    > .visit
      font-size 1.2em
      background-color c_beige
      border-top 0.2em solid c_brown
      border-bottom 0.2em solid c_brown
      box-shadow 0 0.5em 0.5em -0.5em rgba(black, 0.5), 0 -0.5em 0.5em -0.5em rgba(black, 0.5);
      text-align center
      padding 1em 
      color c_brown
      a
        color c_brown
     > .footer
       padding 1em
       background-color c_beige
       margin 4em 0 0 0
       text-align center
       > a.link
         color c_brown
         display inline-block
         padding 0.5em
         font-size 1em
       > .copyright
         padding 0.5em 0 1em 0
         text-align center
         color c_blue
         font-size 1em

  > .truckevent
    width 100%
    box-shadow inset 0 0.5em 0.5em -0.5em rgba(black, 0.5), inset 0 -0.5em 0.5em -0.5em rgba(black, 0.5);
    background-image url('../img/event.jpg')
    background-size contain
    background-repeat no-repeat
    background-position center
    transition height 0.2s 
    overflow hidden
    > .bullets
      width 30em
      margin auto
      color c_brown
      font-size 1em
      margin-top 24em
      > ul.list 
        padding 0
        margin 0 0 0 1.5em
      > .list > li
        padding 0
        margin 0
        float left
        width 14em
    &.on
      height 37em
      > .close
        display block
    &.off
      height 0em
      box-shadow none
      background none
      padding 0
      > .close
        display none

  > .recipes
    background-image url('../img/woodlow.jpg')
    margin auto
    padding 1em 0
    border-top 0.1em solid c_brown
    border-bottom 0.1em solid c_brown
    box-shadow inset 0 0.5em 0.5em -0.5em rgba(black, 0.5), inset 0 -0.5em 0.5em -0.5em rgba(black, 0.5);
    text-align center
    overflow hidden
    transition height 0.2s 
    &.on 
      height auto
      > .close
        display block
        margin 0 0 -1em 0
      for i in 0 1 2 3 4 5 6 7 8
        > .inner > .recipe:nth-child({i})
          opacity 1
          transform translate(0, 0)
          transition 0.2s linear unit(i*0.1, 's'), transform 0.2s linear unit(i*0.1, 's')
    &.off
      height 0em
      box-shadow none
      background none
      padding 0
      > .close
        display none

    > .inner
      text-align center
      > .recipe
        width 18em
        padding 0 2em
        display inline-block
        opacity 0
        transform translate(-1em, 0)
        > a
          text-decoration none
          > .image
            background-size contain
            background-repeat no-repeat
            height 16em
            background-position 50% 50%
          > .title
            color c_brown
            border 0.1em solid c_brown
            background-color c_beige
            font-size 1em
            height 3em
            text-decoration none
            margin -2em 0 2em 0
            padding 0em 1em
    > .more
      margin 1em auto 3em auto
      display inline-block
      text-align center
      font-size 1.2em
      > a
        color c_beige
        text-decoration none
        background-color c_blue
        padding 1em

  > .story
    margin 1em auto
    color c_brown
    padding 1em
    transition height 0.2s 
    &.on 
      height 38em
      > .close
        display block
    &.off
      height 0em
      > .close
        display none

    > .title
      padding 1em 1em 0 1em
      font-style italic
      font-size 1.5em
    > .copy
      font-size 1.2em
      padding 1em 25em 1em 2em
    > .dog
      float right
    &.off
      display none

.fade
  position fixed
  background-color rgba(black, 0.8)
  top 0
  left 0
  width 100%
  height 100%
  &.off
    opacity 0
    transform translate(100%, 0)
    transition opacity 0.2s linear 0, transform 0.2s linear 0.2s
  &.on
    opacity 1
    transform translate(0, 0)
    transition opacity 0.2s linear 0s, transform 0s linear 0s
.zoom
  position fixed
  top 2em
  left 0em
  width 100%
  padding 1em 0
  background-color rgba(c_beige, 1)
  // see if you can get a close border
  > .image
    width 90%
    height 100%
    margin auto
    background-size contain
    background-repeat no-repeat
    background-position 50% 50%
  &.off
    opacity 0
    transition opacity 0.2s linear, transform 0.2s ease-out, height 1s linear 0.3s
    transform perspective(1000px) rotateX(90deg)
  &.on
    opacity 1
    transform perspective(1000px) rotateX(0deg)
    transition opacity 0.2s linear, transform 0.2s ease-out

.modal
  position fixed
  top 50%
  width 25em
  left 50%
  margin-left -12.5em
  margin-top -7.75em
  background-color c_beige
  font-size 1.5em
  > .header
    background-color c_blue
    color c_beige
    padding 0.5em
    > .close
      margin 0
      font-size 0.5em

    > .button
      float left
      padding 0.5em 1em
      cursor pointer
      margin 0.2em 
      background-color c_beige
      color c_blue
    > .addthisevent-drop
      border none !important
      border-radius none !important
      font-family CenturySchoolbookBold
      color c_blue !important
      font-size 1em
      background none
      background-color c_beige
      margin 0.2em
      padding 0.5em 1em
      &:after
        color c_blue !important
        border none !important
        border-radius none !important
      > .addthisevent_dropdown
        background-color c_beige
        color c_blue
        font-family CenturySchoolbookBold
        > span
          background-color c_beige
          color c_blue
          font-family CenturySchoolbookBold
          font-size 0.8em
          &:hover
            color c_beige
            background-color c_blue
        > em
          display none
  > .body
    background-color c_beige
    padding 1em
    > .input
      input
        margin 0.2em 0.5em 0 0.5em
        font-size 1em
        padding 0.5em
        border 0.1em solid c_blue
        background-color c_beige
        color c_blue
      > .button
        float right
        padding 0.5em 1em
        cursor pointer
        margin 0.2em 
        background-color c_blue
        color c_beige
 
  &.off
    opacity 0
    transition opacity 0.2s linear, transform 0.2s ease-out
    transform perspective(1000px) rotateX(90deg)
  &.on
    opacity 1
    transform perspective(1000px) rotateX(0deg)
    transition opacity 0.2s linear, transform 0.2s ease-out

.topbar
  background-image url('../img/woodlow.jpg')
  height 2em
  box-shadow 0 0.5em 0.5em -0.5em rgba(black, 0.5), 0 -0.5em 0.5em -0.5em rgba(black, 0.5);
  
.cta
  background-color c_blue
  color c_beige
  cursor pointer
  box-shadow 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.5)

.close
  cursor pointer
  float right
  font-size 1.0em
  margin 1em 2em
  width 3em
  height 2.5em
  &.beige > .line
    background-color c_beige
  > .line
    background-color c_blue
    width 3em
    height 0.5em
    margin 0.5em 0 0 0
    &.one
      transform rotate(45deg) translate(0.5em, 0.5em)
    &.two
      transform rotate(-45deg) translate(0.15em, -0.15em)


@media all and (min-width: 1px) and (max-width: 800px)
  @import _mobile
