
/*
stylus -w main.styl -o ../css/.  
*/

vendor-prefixes ?= webkit moz o ms official

@import _vars
@import _fonts
@import _mixins
@import vendor

body
  background-color c_beige
  font-family CenturySchoolbookBold
  font-weight bold
  color c_blue
  font-size 16pt
  padding 0
  margin 0

.clear
  clearfix()

.dots
  width 7em
  &.left
    float left
  &.right
    float right
  > .dot
    display inline-block
    width 0.2em
    height 0.2em
    background-color c_blue
    line-height 1.5em
    margin 0 0.2em

.container
  > .header
    padding 3em 0 0 0
    width 45em
    margin auto
    > .truck
      float left
      background-image url('../img/truck.png')
      background-size contain
      background-repeat no-repeat
      width 24em
      height 11em
    > .logo
      float right
      background-image url('../img/logo.png')
      background-size contain
      background-repeat no-repeat
      width 17em
      height 10em
      margin -1em 3em 0 0
  > .wood
    width 45em
    margin -2em auto 0 auto
    background-image url('../img/wood_20.jpg')
    padding 3em 0 0 0
    min-height 30em
    > .title
      text-align center
      font-size 1.2em
      width 36em
      margin auto
      > .copy
        width 17em
        margin auto
        text-align center
        font-size 1.2em
        white-space nowrap

    > .copy
      font-size 1.0em
      margin 1em auto
      width 90%

    > ul.list
      margin 0 0 2em 9em
      font-size 1.0em
      > li
        float left
        width 16em
        padding 0.2em 0
    > .schedule
      background-color c_beige
      width 40em
      margin auto
      padding 1em 0
      margin 1em auto
      border 0.1em solid c_brown
      box-shadow 0.2em 0.2em 1em rgba(black, 0.5)
      > .title
        color c_brown
        text-align center
        font-size 1.5em
        font-style italic
      > .subtitle
        color c_brown
        width 36em
        margin auto
        > .copy
          font-size 1.3em
          width 11em
          margin auto
        > .dots > .dot
          background-color c_brown
      > .seeall
        float left
        width 19em
        height 2em
        font-size 0.8em
        margin 1em 0 0.2em 6em
        > .paw
          background-image url('../img/paw.png')
          background-size cover
          background-repeat no-repeat
          width 1em
          height 1em
          float left
          margin 0.5em
        > .copy
          float left
          margin 0.4em 0
      > .map
        float left
        width 23em
        height 12em
        background-image url('../img/map.png')
        background-size cover
        background-repeat no-repeat
        margin 1em 0 0 0
      > .asterisk
        float left
        font-size 0.6em
        margin -2em 0.2em 0em 1em
        width 24em
        > a
          color c_blue
      > .events
        float right
        width 16em
        height 13em
        margin 0.5em 0 1em 0
        padding 0 0 0 1em
        overflow-y scroll
        > .location
          padding 0.3em 0
          text-transform uppercase
        > .event
          font-size 0.8em
          cursor pointer
          padding 0.2em 0.3em
          transition background-color 0.1s linear, color 0.1s linear
          &:hover
            background-color c_blue
            color c_beige
          > span.title
            font-weight normal
            padding-left 0.5em
    > .rsvp
      margin -1.4em auto 2em auto
      width 8em
      height 2em
      font-size 1.2em
      border 0.1em solid c_beige
      > .reminder
        background-image url('../img/reminder.png')
        background-size cover
        background-repeat no-repeat
        width 1.2em
        height 1em
        float left
        margin 0.6em 0.6em 0 0.6em
      > .copy
        float left
        margin 0.4em 0
    > .gallery
      padding 2em 0 4em 0
      background-color c_beige
      > .title
        color c_brown
        width 36em
        margin auto
        > .copy
          font-size 1.3em
          width 13.5em
          margin auto
        > .dots > .dot
          background-color c_brown
      > .description
        color c_brown
        width 44em
        font-size 0.8em
        margin 1em auto
        > .hashtag
          color c_blue
      > .pictures
        width 45em
        height 16em
        overflow hidden
        > .inner
          width 100em
          transition transform 0.5s ease-in-out
          &.page1
            transform translate(0, 0)
          &.page2
            transform translate(-45em, 0)
          &.page3
            transform translate(-90em, 0)
          > .picture
            cursor pointer
            display inline-block
            width 8.5em
            height 5.5em
            margin 1em
            background-color white
            padding 0.2em
            box-shadow 0.1em 0.1em 0.1em rgba(black, 0.5)
            > img
              width 100%
              height 100%
      > .nav
        padding 1em 0 0 0
        > div
          cursor pointer
        > .prev
          float left
          margin 0 0 0 0.5em
          > .arrow
            float left
          > .copy
            float left
            margin 0 0 0 0.5em
        > .next
          float right
          margin 0 0.5em 0 0
          > .arrow
            float right
          > .copy
            float left
            margin 0 0.5em 0 0
    > .extras
      width 40em
      margin auto
      > .extra
        width 11em
        height 11em
        float left
        margin 1em
        box-shadow 0.2em 0.2em 0.2em rgba(black, 0.5)
        cursor pointer
        border 0.1em solid white
        position relative
        overflow hidden
        background-size cover
        &:hover > .copy
          background-color rgba(white, 0.95)
        &.experience
          background-image url('../img/extra_experience.jpg')
        &.recipes
          background-image url('../img/extra_recipes.jpg')
        &.story
          background-image url('../img/extra_story.jpg')
        > .copy
          position absolute
          background-color rgba(white, 0.5)
          transition background-color 0.2s linear
          color c_brown
          padding 1em 
          text-align center
          font-size 0.8em
          width 12em
          bottom 0
          left 0
    > .rsvp2
      background-color c_blue
      border 0.2em solid c_beige
      width 23em
      margin 2em auto
      color c_beige
      padding 0.5em 1em
      cursor pointer
      > .left
        float left
        font-size 0.7em
        width 20em
        margin 0.5em 0 0 0
      > .right
        float right
        > .reminder
          background-image url('../img/reminder.png')
          background-size cover
          background-repeat no-repeat
          width 1.8em
          height 1.5em
          float left
          margin 0.6em 0.6em 0 0.6em
    > .visit
      background-color c_beige
      border-top 0.2em solid c_brown
      border-bottom 0.2em solid c_brown
      box-shadow 0 0.5em 0.5em -0.5em rgba(black, 0.5), 0 -0.5em 0.5em -0.5em rgba(black, 0.5);
      text-align center
      padding 1em 
      color c_brown
      a
        color c_brown

  > .truckevent
    width 100%
    box-shadow inset 0 0.5em 0.5em -0.5em rgba(black, 0.5), inset 0 -0.5em 0.5em -0.5em rgba(black, 0.5);
    background-image url('../img/event.jpg')
    background-size contain
    background-repeat no-repeat
    background-position center
    transition height 0.2s 
    overflow hidden
    > .bullets
      width 30em
      margin auto
      color c_brown
      font-size 0.8em
      margin-top 23em
      > ul.list 
        padding 0
        margin 0 0 0 1.5em
      > .list > li
        padding 0
        margin 0
        float left
        width 14em
    &.on
      height 25em
      > .close
        display block
    &.off
      height 0em
      box-shadow none
      background none
      padding 0
      > .close
        display none

  > .recipes
    width 45em
    background-image url('../img/wood_20.jpg')
    margin 1em auto 2em auto
    padding 1em 0
    box-shadow inset 0 0.5em 0.5em -0.5em rgba(black, 0.5), inset 0 -0.5em 0.5em -0.5em rgba(black, 0.5);
    padding 1em 0
    overflow hidden
    transition height 0.2s 
    &.on 
      height 30em
      > .close
        display block
      for i in 0 1 2 3 4 5 6 7 8
        > .inner > .recipe:nth-child({i})
          opacity 1
          transform translate(0, 0)
          transition 0.2s linear unit(i*0.1, 's'), transform 0.2s linear unit(i*0.1, 's')
    &.off
      height 0em
      box-shadow none
      background none
      padding 0
      > .close
        display none

    > .inner
      margin-left 5em
      margin-bottom 5em
      > .recipe
        width 10em
        float left
        display inline-block
        margin 1em
        text-align center
        opacity 0
        transform translate(-1em, 0)
        > a
          text-decoration none
          > .title
            color c_brown
            border 0.1em solid c_brown
            background-color c_beige
            font-size 0.6em
            margin auto
            padding 0.5em
            text-decoration none
  > .story
    width 45em
    margin 1em auto 3em auto
    color c_brown
    padding 1em
    transition height 0.2s 
    &.on 
      height 20em
      > .close
        display block
    &.off
      height 0em
      > .close
        display none

    > .title
      padding 1em 1em 0 1em
      font-style italic
    > .copy
      font-size 0.6em
      padding 1em 25em 1em 2em
    > .dog
      float right
    &.off
      display none

.fade
  position fixed
  background-color rgba(black, 0.8)
  top 0
  left 0
  width 100%
  height 100%
  &.off
    opacity 0
    transform translate(100%, 0)
    transition opacity 0.2s linear 0, transform 0.2s linear 0.2s
  &.on
    opacity 1
    transform translate(0, 0)
    transition opacity 0.2s linear 0s, transform 0s linear 0s

.zoom
  position fixed
  top 10em
  width 100%
  min-height 20em
  background-color rgba(c_beige, 1)
  &.off
    opacity 0
    transition opacity 0.2s linear, transform 0.2s ease-out
    transform perspective(1000px) rotateX(90deg)
  &.on
    opacity 1
    transform perspective(1000px) rotateX(0deg)
    transition opacity 0.2s linear, transform 0.2s ease-out

.modal
  position fixed
  top 10em
  width 25em
  left 50%
  margin-left -12.5em
  background-color c_beige
  > .header
    background-color c_blue
    color c_beige
    padding 0.5em
    > .close
      margin 0

    > .button
      float left
      padding 0.5em 1em
      cursor pointer
      margin 0.2em 
      background-color c_beige
      color c_blue
    > .addthisevent-drop
      border none !important
      border-radius none !important
      font-family CenturySchoolbookBold
      color c_blue !important
      font-size 1em
      background none
      background-color c_beige
      margin 0.2em
      padding 0.5em 1em
      &:after
        color c_blue !important
        border none !important
        border-radius none !important
      > .addthisevent_dropdown
        background-color c_beige
        color c_blue
        font-family CenturySchoolbookBold
        > span
          background-color c_beige
          color c_blue
          font-family CenturySchoolbookBold
          font-size 0.8em
          &:hover
            color c_beige
            background-color c_blue
        > em
          display none


   

  > .body
    background-color c_beige
    padding 1em
    > .input
      input
        margin 0.2em 0.5em 0 0.5em
        font-size 1em
        padding 0.5em
        border 0.1em solid c_blue
        background-color c_beige
        color c_blue
      > .button
        float right
        padding 0.5em 1em
        cursor pointer
        margin 0.2em 
        background-color c_blue
        color c_beige
 
  &.off
    opacity 0
    transition opacity 0.2s linear, transform 0.2s ease-out
    transform perspective(1000px) rotateX(90deg)
  &.on
    opacity 1
    transform perspective(1000px) rotateX(0deg)
    transition opacity 0.2s linear, transform 0.2s ease-out

.topbar
  background-image url('../img/wood_20.jpg')
  height 2em
  box-shadow 0 0.5em 0.5em -0.5em rgba(black, 0.5), 0 -0.5em 0.5em -0.5em rgba(black, 0.5);
  
.cta
  background-color c_blue
  color c_beige
  cursor pointer
  box-shadow 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.5)

.close
  cursor pointer
  float right
  font-size 0.5em
  margin 1em 2em
  width 3em
  height 2.5em
  &.beige > .line
    background-color c_beige
  > .line
    background-color c_blue
    width 3em
    height 0.5em
    margin 0.5em 0 0 0
    &.one
      transform rotate(45deg) translate(0.5em, 0.5em)
    &.two
      transform rotate(-45deg) translate(0.15em, -0.15em)


// 320px.. iphone vert
@media all and (min-width: 1px) and (max-width: 800px)
  @import _mobile

