doctype


html(lang='en')
  head
    title !{meta.title}


    style(type='text/css').

      body {
        font-size: 14px;
        background-color: #f4e9d8;
      }

      .logo {
        width: 30em;
        height: 10em;
        margin: 4em auto;
      }

      .copy {
        font-size: 2em;
        text-align: center;
        padding: 2em 0 0 0;
      }

      .copy a {
        color: #092e6e;
      }


  body
    .logo
      img(src='./img/logo.png')
    .copy Sorry! Your browser is not compatible with this site. Please download the latest version of <a href="http://windows.microsoft.com/en-us/internet-explorer/browser-ie">Internet Explorer</a>, <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>, or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> 

